/* css styles */

.hero-image {
    margin: 0 auto;
}

.hero-image img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}

.hero-text {
    font-size: 20pt;
    position: absolute;
    left: 35vw;
    top: 65vh;
    /* transform: translate(-50%, -50%); */
    text-align: left;
}

.hl-black {
    background-color: rgba(0, 0, 0, 0.2);
}